html, body {
    margin: 0;
    padding: 0;
}

#toolbarContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    padding-left: 10px;
}

#sidebarContainer {
    position: absolute;
    top: 73px;
    left: 0;
    bottom: 0;
    width: 160px;
    overflow-x: hidden;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
}

img.mxToolbarMode {
    max-width: 60px;
    margin: 5px !important;
}

#graphContainer {
    position: absolute;
    top: 73px;
    left: 160px;
    right: 260px;
    bottom: 57px;
    overflow: auto;
    cursor: default;
}

#inspectorContainer {
    position: absolute;
    top: 73px;
    right: 0;
    bottom: 0;
    width: 260px;
    padding: 10px;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.grid {
    background: url('../javascript/src/images/grid.gif');
}

.button {
    padding: 12px 20px;
    margin: 15px 5px;
    border: none;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
    background: #516efc;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

.button:hover,
#saveUpload:hover {
    background: #3348ad;
    cursor: pointer;
}

.button:active,
#saveUpload:hover {
    background: #212533;
}

.button:hover,
.button:active,
.button:focus,
#saveUpload:hover,
#saveUpload:active,
#saveUpload:focus {
    border: none;
    outline: none;
}

input[type="file"] {
    display: none;
}