html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#toolbarContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    padding-left: 10px;
}

#sidebarContainer {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
    width: 160px;
    overflow-x: hidden;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
}

img.mxToolbarMode {
    max-width: 60px;
    margin: 5px !important;
}

#graphContainer {
    position: absolute;
    top: 45px;
    left: 160px;
    right: 300px;
    bottom: 57px;
    overflow: auto;
    cursor: default;
}

#inspectorContainer {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    width: 300px;
    padding: 10px;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.grid {
    background: url('../javascript/src/images/grid.gif');
}

.button {
    display: inline-flex;
    margin: 0;
    padding: 12px 20px;
    border: none;
    border-right: 1px solid #dee2e6;
    background: #f8f9fa;
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    transition: background-color .3s ease;
}

.button:hover,
#saveUpload:hover {
    background: #dee2e6;
    cursor: pointer;
}

.button:active,
#saveUpload:active {
    background: #97a5c4;
}

.button:hover,
.button:active,
.button:focus,
#saveUpload:hover,
#saveUpload:active,
#saveUpload:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

.button-grid {
    border-left: 1px solid #dee2e6;
}

#titleContainer {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

#diagramTitle {
    padding: 0 4px 0 8px;
}

.fa-edit {
    padding-left: 2px;
}

.fa-edit-d-none {
    color: #f8f9fa;
}

.fa-undo, 
.fa-redo,
.fa-cloud-upload-alt {
    padding: 3px 0px 0px 8px;
    font-size: 1.1em;
}

.fa-border-none,
.fa-save,
.fa-image {
    padding: 2px 0px 0px 8px;
    font-size: 1.3em;
}

.fa-file {
    padding-top: 0px;
}

.fa-envelope {
    padding-left: 2px;
    font-size: 1.1em;
}