html, body {
    margin: 0;
    padding: 0;
}

#toolbarContainer {
    border: 3px solid black;
    position: absolute;
    overflow: hidden;
    width: 68px;
    padding: 2px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

img.mxToolbarMode {
    max-width: 64px;
}

#graphContainer {
    border: 3px solid black;
    position: relative;
    margin-left: 75px;
    overflow: hidden;
    width: 800px;
    height: 600px;
    background: url('../javascript/src/images/grid.gif');
    cursor: default;
}