html, body {
    margin: 0;
    padding: 0;
}

#toolbarContainer {
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    width: 68px;
    padding: 2px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

img.mxToolbarMode {
    max-width: 64px;
}

#graphContainer {
    border: 2px solid black;
    position: relative;
    margin-left: 74px;
    overflow: hidden;
    width: 1200px;
    height: 860px;
    cursor: default;
}

.grid {
    background: url('../javascript/src/images/grid.gif');
}

.button-undo, 
.button-redo {
    padding: 12px 20px;
    margin: 15px 5px;
    border: none;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
    background: #516efc;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transition: background-color .3s ease;
    overflow: hidden;
}

.button-undo:hover,
.button-redo:hover {
    background: #3348ad;
    cursor: pointer;
}

.button-undo:active,
.button-redo:active {
    background: #212533;
}

.button-undo:hover,
.button-redo:hover,
.button-undo:active,
.button-redo:active,
.button-undo:focus,
.button-redo:focus {
    border: none;
    outline: none;
}

.button-undo {
    margin-left: 100px;
}

#saveUpload {
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background: #516efc;
    padding: 12px 20px;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.5);
}

input[type="file"] {
    display: none;
}

#hotkeys {
    margin-left: 100px;
}